@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*-----------------YOUR LIFE--------------------*/
.wrapper {
  margin: 0 auto;
  max-width: 1600px;
  width: 100%;
  height: 744px;
  background: url("../assets/img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.header nav {
  margin: 0 516px 0 502px;
  padding: 25px 0;
  max-width: 582px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header a {
  display: inline-flex;
  text-decoration: none;
  transition: 0.6s;
}

.logo {
  margin: 0 20px;
  width: 44px;
  height: 45px;
  background: url("../assets/img/logo.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.logo:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.item-link {
  border: 1px solid transparent;
  opacity: 0.8;
  color: #FFFFFF;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
}
.item-link:hover {
  cursor: pointer;
  font-weight: 500 !important;
  border-bottom: 1px solid #FFFFFF;
  opacity: 1;
}

.active {
  cursor: pointer;
  font-weight: 500 !important;
  border-bottom: 1px solid #FFFFFF;
  opacity: 1;
}

.your-life-content {
  padding: 134px 0 94px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.your-life-content p {
  color: #FFFFFF;
  font-family: "Roboto";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: 4.4px;
  text-align: center;
  margin-bottom: 12px;
}
.your-life-content span {
  color: #FFFFFF;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  margin: 10px auto;
  max-width: 504px;
  width: 100%;
}
.your-life-content button {
  margin: 20px auto;
  max-width: 184px;
  width: 100%;
  display: flex;
}

.button {
  height: 46px;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  background-color: #00AFDB;
  color: #FFFFFF;
  transition: 0.6s;
}
.button:hover {
  cursor: pointer;
  background-color: #009CC2;
}

.nav-social {
  margin: 70px auto;
  max-width: 170px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.nav-social a {
  width: 20px;
  height: 20px;
  display: flex;
  transition: 0.6s;
}
.nav-social a:hover {
  cursor: pointer;
  opacity: 0.5;
}

.mail {
  background: url("../assets/img/mail_fff.svg");
}

.facebook {
  background: url("../assets/img/facebook_fff.svg");
}

.insta {
  background: url("../assets/img/insta_fff.svg");
}

.telegram {
  background: url("../assets/img/telegram_fff.svg");
}

/*-----------------RAPPRESENT--------------------*/
.rappresent-wrapper {
  margin: 0 auto;
  padding: 120px 0;
  max-width: 1600px;
  width: 100%;
  height: 842px;
  background: #FFFFFF;
}

.rappresent-content {
  max-width: 1062px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.rappresent-text {
  margin-top: 175px;
  display: flex;
  flex-direction: column;
  max-width: 407px;
  width: 100%;
}
.rappresent-text h2 {
  font-family: "Roboto";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 1px;
  text-align: left;
  max-width: 367px;
  width: 100%;
  margin-bottom: 12px;
}
.rappresent-text span {
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  margin: 10px auto;
}
.rappresent-text button {
  margin: 19px 0;
  max-width: 184px;
  width: 100%;
  display: flex;
}

.rappresent-img {
  display: flex;
  max-width: 407px;
  width: 100%;
}

/*-----------------OUR COMMUNITY--------------------*/
.community-wrapper {
  margin: 0 auto;
  max-width: 1600px;
  width: 100%;
  height: 504px;
  background: #F5F6F7;
}

.community-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.slider-controls {
  margin: 80px auto 0;
  max-width: 1062px;
  width: 100%;
  justify-content: flex-end;
  display: flex;
}
.slider-controls img {
  width: 8px;
}
.slider-controls img:hover {
  cursor: pointer;
  opacity: 0.5;
}
.slider-controls p {
  margin: 0 12px;
  font-family: "Roboto";
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.5px;
}

.community-block {
  margin-top: 35px;
  margin-left: 269px;
  max-width: 298px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.community-block img {
  max-width: 45px;
  width: 100%;
  margin-bottom: 20px;
}
.community-block h3 {
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2.4px;
  text-align: center;
}
.community-block span {
  margin-top: 12px;
  text-align: center;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
}

.community-slider {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.slides {
  max-width: 909px;
  width: 100%;
  display: flex;
  overflow: hidden;
}
.slides img {
  margin: 0 15px;
}

/*-----------------IMPLEMENT--------------------*/
.implement-wrapper {
  margin: 0 auto;
  padding: 120px 0;
  max-width: 1600px;
  width: 100%;
  height: 842px;
  background: #FFFFFF;
}

.implement-content {
  max-width: 1062px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.implement-text {
  margin-top: 199px;
  margin-right: 109px;
  display: flex;
  flex-direction: column;
  max-width: 407px;
  width: 100%;
}
.implement-text h2 {
  font-family: "Roboto";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 1px;
  text-align: left;
  max-width: 367px;
  width: 100%;
  margin-bottom: 12px;
}
.implement-text span {
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  margin: 10px auto;
}
.implement-text button {
  margin: 19px 0;
  max-width: 184px;
  width: 100%;
  display: flex;
}

.implement-img {
  display: flex;
  max-width: 407px;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
