@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*-----------------YOUR LIFE--------------------*/
.wrapper {
  margin: 0 auto;
  max-width: 1600px;
  width: 100%;
  height: 744px;
  background: url("../assets/img/bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  margin: 0 auto;
}
.header nav {
  margin: 0 auto;
  padding: 25px 0;
  max-width: 582px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 481px) and (max-width: 600px) {
  .header nav {
    padding: 10px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .header nav {
    padding: 10px;
  }
}
.header a {
  display: inline-flex;
  text-decoration: none;
  transition: 0.6s;
}

.logo {
  margin: 0 20px;
  width: 44px;
  height: 45px;
  background: url("../assets/img/logo.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.logo:hover {
  opacity: 0.5;
  transition: 0.5s;
}
@media (min-width: 320px) and (max-width: 480px) {
  .logo {
    margin: 0;
  }
}

.item-link {
  border: 1px solid transparent;
  opacity: 0.8;
  color: #FFFFFF;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
}
.item-link:hover {
  cursor: pointer;
  font-weight: 500 !important;
  border-bottom: 1px solid #FFFFFF;
  opacity: 1;
}

.active {
  cursor: pointer;
  font-weight: 500 !important;
  border-bottom: 1px solid #FFFFFF;
  opacity: 1;
}

.your-life-content {
  padding: 136px 10px 94px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
@media (min-width: 320px) and (max-width: 480px) {
  .your-life-content {
    padding-top: 110px;
  }
}
.your-life-content h1 {
  color: #FFFFFF;
  font-family: "Roboto";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: 4.4px;
  text-align: center;
  margin-bottom: 12px;
}
@media (min-width: 601px) and (max-width: 900px) {
  .your-life-content h1 {
    font-size: 48px;
  }
}
@media (min-width: 481px) and (max-width: 600px) {
  .your-life-content h1 {
    font-size: 32px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .your-life-content h1 {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 40px;
  }
}
.your-life-content span {
  color: #FFFFFF;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  margin: 10px auto;
  max-width: 504px;
  width: 100%;
}
.your-life-content button {
  margin: 20px auto;
  max-width: 184px;
  width: 100%;
  display: flex;
}

.button {
  height: 46px;
  background-color: #00AFDB;
  /* height: 46px; */
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  color: #FFFFFF;
  transition: 0.6s;
}
.button:hover {
  cursor: pointer;
  background-color: #009CC2;
}

.nav-social {
  margin: 70px auto;
  max-width: 170px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.nav-social a {
  width: 20px;
  height: 20px;
  display: flex;
  transition: 0.6s;
}
.nav-social a:hover {
  cursor: pointer;
  opacity: 0.5;
}

.mail {
  background: url("../assets/img/mail_fff.svg");
}

.facebook {
  background: url("../assets/img/facebook_fff.svg");
}

.insta {
  background: url("../assets/img/insta_fff.svg");
}

.telegram {
  background: url("../assets/img/telegram_fff.svg");
}

/*-----------------RAPPRESENT--------------------*/
.rappresent-wrapper {
  margin: 0 auto;
  padding: 120px 0;
  max-width: 1600px;
  width: 100%;
  height: 842px;
  background: #FFFFFF;
}
@media (min-width: 901px) and (max-width: 1200px) {
  .rappresent-wrapper {
    height: auto;
    padding-bottom: 100px;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .rappresent-wrapper {
    height: auto;
  }
}
@media (min-width: 481px) and (max-width: 600px) {
  .rappresent-wrapper {
    padding: 50px 0;
  }
}

.rappresent-content {
  max-width: 1062px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 901px) and (max-width: 1200px) {
  .rappresent-content {
    padding: 0 40px;
    align-items: center;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .rappresent-content {
    padding: 0 40px;
    align-items: center;
  }
}
@media (min-width: 481px) and (max-width: 600px) {
  .rappresent-content {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .rappresent-content {
    width: 95%;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.rappresent-text {
  margin-top: 175px;
  display: flex;
  flex-direction: column;
  max-width: 407px;
  width: 100%;
}
.rappresent-text h2 {
  font-family: "Roboto";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 1px;
  text-align: left;
  max-width: 367px;
  width: 100%;
  margin-bottom: 12px;
}
@media (min-width: 601px) and (max-width: 900px) {
  .rappresent-text h2 {
    font-size: 20px;
  }
}
.rappresent-text span {
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  margin: 10px auto;
}
.rappresent-text button {
  margin: 19px 0;
  max-width: 184px;
  width: 100%;
  display: flex;
}
@media (min-width: 901px) and (max-width: 1200px) {
  .rappresent-text {
    margin: 0;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .rappresent-text {
    margin: 0;
  }
}
@media (min-width: 481px) and (max-width: 600px) {
  .rappresent-text {
    margin: 0;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .rappresent-text {
    margin: 0;
  }
}

.rappresent-img {
  display: flex;
  max-width: 407px;
  width: 100%;
}
.rappresent-img img {
  object-fit: cover;
}
@media (min-width: 901px) and (max-width: 1200px) {
  .rappresent-img img {
    margin-left: auto;
    width: 85%;
    object-fit: contain;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .rappresent-img img {
    margin-left: auto;
    width: 80%;
    object-fit: contain;
  }
}
@media (min-width: 481px) and (max-width: 600px) {
  .rappresent-img img {
    margin: 0 auto;
    width: 80%;
    height: initial;
    object-fit: contain;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .rappresent-img img {
    margin: 0 auto;
    width: 90%;
    height: 90%;
    object-fit: contain;
  }
}

/*-----------------OUR COMMUNITY--------------------*/
.community-wrapper {
  margin: 0 auto;
  max-width: 1600px;
  width: 100%;
  height: 504px;
  background: #F5F6F7;
}
@media (min-width: 601px) and (max-width: 900px) {
  .community-wrapper {
    height: auto;
  }
}
@media (min-width: 481px) and (max-width: 600px) {
  .community-wrapper {
    height: auto;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .community-wrapper {
    height: auto;
  }
}

.community-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 901px) and (max-width: 1200px) {
  .community-content {
    padding-left: 10px;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .community-content {
    padding-left: 10px;
    padding-bottom: 10px;
    align-items: center;
  }
}
@media (min-width: 481px) and (max-width: 600px) {
  .community-content {
    padding-left: 10px;
    padding-bottom: 20px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .community-content {
    padding-left: 10px;
    padding-bottom: 10px;
  }
}

.slider-controls {
  margin: 80px auto 0;
  max-width: 1062px;
  width: 100%;
  justify-content: flex-end;
  display: flex;
}
.slider-controls img {
  width: 8px;
}
.slider-controls img:hover {
  cursor: pointer;
  opacity: 0.5;
}
.slider-controls p {
  margin: 0 12px;
  font-family: "Roboto";
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.5px;
}
@media (min-width: 901px) and (max-width: 1200px) {
  .slider-controls {
    width: 95%;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .slider-controls {
    width: 95%;
  }
}
@media (min-width: 481px) and (max-width: 600px) {
  .slider-controls {
    width: 95%;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .slider-controls {
    width: 95%;
  }
}

.community-slider {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 601px) and (max-width: 900px) {
  .community-slider {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 481px) and (max-width: 600px) {
  .community-slider {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .community-slider {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}

.community-block {
  margin-top: 35px;
  margin-left: 269px;
  max-width: 298px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.community-block img {
  max-width: 45px;
  width: 100%;
  margin-bottom: 20px;
}
.community-block h3 {
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2.4px;
  text-align: center;
}
.community-block span {
  margin-top: 12px;
  text-align: center;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
}
@media (min-width: 901px) and (max-width: 1200px) {
  .community-block {
    margin-left: 0;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .community-block {
    margin-left: 0;
  }
}
@media (min-width: 481px) and (max-width: 600px) {
  .community-block {
    margin-left: 0;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .community-block {
    margin-left: 0;
  }
}

.slides {
  max-width: 909px;
  width: 100%;
  display: flex;
  overflow: hidden;
}
.slides img {
  margin: 0 15px;
  object-fit: cover;
}
@media (min-width: 320px) and (max-width: 480px) {
  .slides img {
    width: 90%;
  }
}
@media (min-width: 901px) and (max-width: 1200px) {
  .slides {
    padding-left: 10px;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .slides {
    padding-left: 19%;
  }
}
@media (min-width: 481px) and (max-width: 600px) {
  .slides {
    padding-left: 3%;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .slides {
    padding-left: 3%;
  }
}

/*-----------------IMPLEMENT--------------------*/
.implement-wrapper {
  margin: 0 auto;
  padding: 120px 0;
  max-width: 1600px;
  width: 100%;
  height: 842px;
  background: #FFFFFF;
}
@media (min-width: 901px) and (max-width: 1200px) {
  .implement-wrapper {
    padding-bottom: 100px;
    height: auto;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .implement-wrapper {
    height: auto;
  }
}
@media (min-width: 481px) and (max-width: 600px) {
  .implement-wrapper {
    padding: 50px 0;
  }
}

.implement-content {
  max-width: 1062px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 901px) and (max-width: 1200px) {
  .implement-content {
    padding: 0 40px;
    align-items: center;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .implement-content {
    padding: 0 40px;
    align-items: center;
  }
}
@media (min-width: 481px) and (max-width: 600px) {
  .implement-content {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .implement-content {
    width: 95%;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.implement-text {
  margin-top: 199px;
  margin-right: 109px;
  display: flex;
  flex-direction: column;
  max-width: 407px;
  width: 100%;
}
.implement-text h2 {
  font-family: "Roboto";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 1px;
  text-align: left;
  max-width: 367px;
  width: 100%;
  margin-bottom: 12px;
}
@media (min-width: 601px) and (max-width: 900px) {
  .implement-text h2 {
    font-size: 20px;
  }
}
.implement-text span {
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  margin: 10px auto;
}
.implement-text button {
  background-color: #00AFDB;
  margin: 19px 0;
  max-width: 184px;
  width: 100%;
  display: flex;
}
@media (min-width: 901px) and (max-width: 1200px) {
  .implement-text {
    margin: 0;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .implement-text {
    margin: 0;
  }
}
@media (min-width: 481px) and (max-width: 600px) {
  .implement-text {
    margin: 0;
    padding-top: 50px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .implement-text {
    margin: 0;
    padding-top: 50px;
  }
}

.implement-img {
  display: flex;
  max-width: 407px;
  width: 100%;
}
.implement-img img {
  object-fit: cover;
}
@media (min-width: 901px) and (max-width: 1200px) {
  .implement-img img {
    width: 85%;
    object-fit: contain;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .implement-img img {
    width: 80%;
    object-fit: contain;
  }
}
@media (min-width: 481px) and (max-width: 600px) {
  .implement-img img {
    margin: 0 auto;
    width: 80%;
    height: initial;
    object-fit: contain;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .implement-img img {
    margin: 0 auto;
    width: 90%;
    height: 90%;
    object-fit: contain;
  }
}

/*-----------------SIGN-UP--------------------*/
.signup-wrapper {
  margin: 0 auto;
  max-width: 1600px;
  width: 100%;
  height: 598px;
  background: url("../assets/img/bg_5.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.signup-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.signup-content h2 {
  margin: 217px auto 15px;
  color: #FFFFFF;
  font-family: "Roboto";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 1px;
  text-align: left;
}
@media (min-width: 320px) and (max-width: 480px) {
  .signup-content h2 {
    font-size: 18px;
  }
}
.signup-content form {
  margin: 15px auto;
  display: flex;
  max-width: 406px;
  width: 100%;
  font-size: 0;
}
.signup-content .input {
  margin: 0;
  padding: 14px 0 12px 23px;
  display: inline-flex;
  max-width: 340px;
  width: 100%;
  color: #373737;
  height: 46px;
  border: none;
  outline: none;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
}
.signup-content .input-button {
  display: inline-flex;
  margin: 0;
  max-width: 66px;
  width: 100%;
}
@media (min-width: 320px) and (max-width: 480px) {
  .signup-content {
    width: 95%;
  }
}

/*-----------------DOWNLOAD--------------------*/
.download-wrapper {
  margin: 0 auto;
}

.download-content {
  padding: 120px 0 180px;
  margin: 0 auto;
  max-width: 483px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media (min-width: 601px) and (max-width: 900px) {
  .download-content {
    padding: 100px 10px;
  }
}
@media (min-width: 481px) and (max-width: 600px) {
  .download-content {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .download-content {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.download-content h2 {
  margin-bottom: 10px;
  color: #373737;
  font-family: "Roboto";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 1px;
  text-align: left;
}
.download-content p {
  margin: 10px auto;
  color: #4E4E4E;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
}
.download-content .download-buttons {
  max-width: 406px;
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  height: 50px;
}
.download-content .download-buttons .download-button {
  display: flex;
  width: 188px;
  height: 50px;
  background-color: #00AFDB;
  color: #FFFFFF;
}
@media (min-width: 320px) and (max-width: 480px) {
  .download-content .download-buttons .download-button {
    width: 135px;
  }
}
.download-content .download-buttons .download-button span {
  max-width: 128px;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 53px;
  letter-spacing: 0px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .download-content .download-buttons .download-button span {
    font-size: 12px;
  }
}
.download-content .download-buttons .download-button button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 60px;
  width: 100%;
  background-color: #009CC2;
  /* height: 46px; */
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  color: #FFFFFF;
}
.download-content .download-buttons .download-button button:hover {
  cursor: pointer;
  opacity: 0.7;
}
.download-content .download-buttons .download-button button img {
  width: 30%;
}
@media (min-width: 320px) and (max-width: 480px) {
  .download-content .download-buttons .download-button button img {
    width: 45%;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .download-content .download-buttons .download-button button {
    width: 55px;
  }
}

/*-----------------DOWNLOAD--------------------*/
.footer-wrapper {
  margin: 0 auto;
  max-width: 1600px;
  width: 100%;
  background-color: #000000;
}

.footer-content {
  padding: 60px 0 80px;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-content nav {
  display: flex;
  justify-content: space-between;
  max-width: 236px;
  width: 100%;
}
.footer-content nav a {
  text-decoration: none;
}
.footer-content nav span {
  color: #FFFFFF;
}
@media (min-width: 320px) and (max-width: 480px) {
  .footer-content nav span {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .footer-content nav {
    flex-direction: column;
  }
}
.footer-content div {
  display: flex;
  padding-right: 68px;
}
.footer-content address {
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  color: #818181;
}
@media (min-width: 901px) and (max-width: 1200px) {
  .footer-content {
    padding: 60px 10px;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .footer-content {
    padding: 60px 10px;
  }
}
@media (min-width: 481px) and (max-width: 600px) {
  .footer-content {
    padding: 40px 10px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .footer-content {
    padding: 40px 10px;
  }
}

/*# sourceMappingURL=style.css.map */
