@import './variables.scss';
@mixin yourLife {
    color: $font-light;
    font-family: 'Roboto';
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: 4.4px;
    text-align: center;
}
@mixin yourLife_subtitle {
    color: $font-light;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;    
}
@mixin h2-24-bold {    
    font-family: 'Roboto';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 1px;
    text-align: left;

}
@mixin body-14-reg {       
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;    
}
@mixin h3-16-upper-bold {   
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 2.4px;
    text-align: center;

}
@mixin link-active {
    cursor: pointer;
    font-weight: 500 !important;
    border-bottom: 1px solid $font-light;
    opacity: 1;    
}
@mixin button {
    height: 46px;
    justify-content: center;
    align-items: center;  
    outline: none;
    border: none;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    background-color: $font-button;  
    color: $font-light;
}