@import './media.scss';
@import './fonts.scss';
@import './variables.scss';
@import './mixins.scss';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*-----------------YOUR LIFE--------------------*/
.wrapper {
    margin: 0 auto;
    max-width: 1600px;    
    width: 100%;
    height: 744px;
    background: url('../assets/img/bg.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.header {
    margin: 0 auto;
    & nav {        
        margin: 0 auto;
        padding: 25px 0;
        max-width: 582px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;  
   
        @include for-size(phoneLand){           
            padding: 10px;
        }      
        @include for-size(phonePort){
            padding: 10px;
        }      
    }
    & a {
        display: inline-flex;
        text-decoration: none;
        transition: .6s;
    }
}
.logo {
    margin: 0 20px;
    width: 44px;
    height: 45px;    
    background: url("../assets/img/logo.svg");
    background-repeat: no-repeat;
    background-size: cover;

    &:hover {
        opacity: .5;
        transition: .5s;        
    }
    @include for-size(phonePort){
        margin: 0;
    }  
}
.item-link {
    border: 1px solid transparent;
    opacity: .8;
    color: $font-light; 
    @include body-14-reg();

    &:hover {
      @include link-active(); 
    }
}

.active {    
  @include link-active();
}

.your-life-content {
    padding: 136px 10px 94px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    @include for-size(phonePort){
        padding-top: 110px;
    }    


    & h1 {
        @include yourLife();
        margin-bottom: 12px;  

        @include for-size(tablet){
            font-size: 48px;
        }     
        @include for-size(phoneLand){            
            font-size: 32px;
        }      
        @include for-size(phonePort){
            margin-bottom: 20px;            
            font-size: 30px;
            line-height: 40px;
        }    
    }
    & span {
        @include yourLife_subtitle();
        margin: 10px auto;
        max-width: 504px;
        width: 100%;
    }
    & button {
        margin: 20px auto;
        max-width: 184px;
        width: 100%;
        display: flex;
    }    
}
.button {
    height: 46px;
    background-color: $font-button;  
    @include button();
    transition: .6s;

    &:hover {
        cursor: pointer;
        background-color: $font-button-dark; 
    }
}

.nav-social {    
    margin: 70px auto;
    max-width: 170px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    & a {
        width: 20px;
        height: 20px;
        display: flex;  
        transition: .6s;      
    }
    & a:hover {
        cursor: pointer;
        opacity: .5;
    }
}
.mail {
    background: url("../assets/img/mail_fff.svg");
}
.facebook {
    background: url("../assets/img/facebook_fff.svg");
}
.insta {
    background: url("../assets/img/insta_fff.svg");
}
.telegram {
    background: url("../assets/img/telegram_fff.svg");
}

/*-----------------RAPPRESENT--------------------*/

.rappresent-wrapper {
    @include wrapper-block_2-4();

    @include for-size(laptop){
        height: auto;
        padding-bottom: 100px;
    } 
    @include for-size(tablet){
        height: auto;
    }  
    @include for-size(phoneLand){
        padding: 50px 0;
    }  
}
.rappresent-content {        
    @include content-block_2-4();

    @include for-size(laptop){
        padding: 0 40px;
        align-items: center;
    }    
    @include for-size(tablet){
        padding: 0 40px;        
        align-items: center;
    }    
    @include for-size(phoneLand){        
        flex-wrap: wrap;
        justify-content: center;
    }    
    @include for-size(phonePort){        
        width: 95%;
        flex-wrap: wrap;
        justify-content: center;
    }    
}
.rappresent-text {
    margin-top: 175px;
    @include text-block_2-4();
    & h2 {
        @include text-block-h2_2-4(); 
        @include for-size(tablet){
            font-size: 20px;
        } 
    }
    & span {         
        @include text-block-span_2-4();      
    }
    & button {
        @include text-block-button_2-4();
    }
    @include for-size(laptop){
        margin: 0;
    } 
    @include for-size(tablet){
        margin: 0;
    } 
    @include for-size(phoneLand){
        margin: 0;
    } 
    @include for-size(phonePort){
        margin: 0;
    } 
}
.rappresent-img {
    @include img-block_2-4();

    & img {
        object-fit: cover;
        @include for-size(laptop){
            margin-left: auto;
            width: 85%;
            object-fit: contain;
        }
        @include for-size(tablet){
            margin-left: auto;
            width: 80%;
            object-fit: contain;
        }
        @include for-size(phoneLand){ 
            margin: 0 auto;           
            width: 80%; 
            height: initial;           
            object-fit: contain;
        }
        @include for-size(phonePort){ 
            margin: 0 auto;           
            width: 90%;    
            height: 90%;        
            object-fit: contain;
        }
    }
}

/*-----------------OUR COMMUNITY--------------------*/
.community-wrapper {
    margin: 0 auto;
    max-width: 1600px;    
    width: 100%;
    height: 504px;
    background: $font-bg-1; 

    @include for-size(tablet){
        height: auto;
    }     
    @include for-size(phoneLand){
        height: auto;
    }     
    @include for-size(phonePort){
        height: auto;
    }   
}
.community-content {
    width: 100%;
    display: flex;
    flex-direction: column; 

    @include for-size(laptop){
        padding-left: 10px;
    }     
    @include for-size(tablet){
        padding-left: 10px;
        padding-bottom: 10px;
        align-items: center;
    }     
    @include for-size(phoneLand){
        padding-left: 10px;
        padding-bottom: 20px;
    }     
    @include for-size(phonePort){
        padding-left: 10px;
        padding-bottom: 10px;
    }     
}
.slider-controls {
    margin: 80px auto 0;
    max-width: 1062px;   
    width: 100%;
    justify-content: flex-end;
    display: flex;
    & img {
        width: 8px;        
        &:hover {
            cursor: pointer;
            opacity: .5;
        }
    }
    & p {
        margin: 0 12px;
        font-family: "Roboto";
        font-size: 18px;
        line-height: 20px;
        letter-spacing: .5px;
    }
    @include for-size(laptop){
        width: 95%;
    }   
    @include for-size(tablet){
        width: 95%;
    }   
    @include for-size(phoneLand){
        width: 95%;
    }   
    @include for-size(phonePort){
        width: 95%;
    }   
}
.community-slider {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;

    @include for-size(tablet){        
        flex-wrap: wrap;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }  
    @include for-size(phoneLand){        
        flex-wrap: wrap;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }  
    @include for-size(phonePort){        
        flex-wrap: wrap;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }  
}
.community-block {
    margin-top: 35px;
    margin-left: 269px;
    max-width: 298px;
    width: 100%;
    display: flex;
    flex-direction: column;    
    align-items: center;
    & img {
        max-width: 45px;
        width: 100%;
        margin-bottom: 20px;
    }
    & h3 {
        @include h3-16-upper-bold();
    }
    & span {        
        margin-top: 12px;
        text-align: center;
        @include body-14-reg ();        
    }
    @include for-size(laptop){
        margin-left: 0;
    }    
    @include for-size(tablet){
        margin-left: 0;
    }    
    
    @include for-size(phoneLand){
        margin-left: 0;
    }    
    
    @include for-size(phonePort){
        margin-left: 0;
    }     
}

.slides {
    max-width: 909px;
    width: 100%;
    display: flex;
    overflow: hidden;
    & img {
        margin: 0 15px;
        object-fit: cover;
        @include for-size(phonePort){
            width: 90%;
        }
    }
    @include for-size(laptop){
        padding-left: 10px;
    }
    @include for-size(tablet){
        padding-left: 19%;
    }
    @include for-size(phoneLand){
        padding-left: 3%;
    }
    @include for-size(phonePort){
        padding-left: 3%;
    }
}

/*-----------------IMPLEMENT--------------------*/

.implement-wrapper {
    @include wrapper-block_2-4();

    @include for-size(laptop){
        padding-bottom: 100px;
        height: auto;
    } 
    @include for-size(tablet){
        height: auto;
    }  
    @include for-size(phoneLand){
        padding: 50px 0;
    } 
}
.implement-content {    
    @include content-block_2-4();

    @include for-size(laptop){
        padding: 0 40px;
        align-items: center;
    }    
    @include for-size(tablet){
        padding: 0 40px;        
        align-items: center;
    }    
    @include for-size(phoneLand){        
        flex-wrap: wrap;
        justify-content: center;
    }    
    @include for-size(phonePort){        
        width: 95%;
        flex-wrap: wrap;
        justify-content: center;
    }  
}
.implement-text {
    margin-top: 199px;
    margin-right: 109px;
    @include text-block_2-4();
    & h2 {
        @include text-block-h2_2-4(); 

        @include for-size(tablet){
            font-size: 20px;
        }
    }
    & span {
        @include text-block-span_2-4();      
    }
    & button {
        background-color: $font-button;  
        @include text-block-button_2-4();
    }

    @include for-size(laptop){
        margin: 0;
    } 
    @include for-size(tablet){
        margin: 0;
    } 
    @include for-size(phoneLand){
        margin: 0;
        padding-top: 50px;
    } 
    @include for-size(phonePort){
        margin: 0;
        padding-top: 50px;
    } 
}
.implement-img {
    @include img-block_2-4();

    & img {
        object-fit: cover;
        @include for-size(laptop){            
            width: 85%;
            object-fit: contain;
        }
        @include for-size(tablet){            
            width: 80%;
            object-fit: contain;
        }
        @include for-size(phoneLand){ 
            margin: 0 auto;           
            width: 80%; 
            height: initial;           
            object-fit: contain;
        }
        @include for-size(phonePort){ 
            margin: 0 auto;           
            width: 90%;    
            height: 90%;        
            object-fit: contain;
        }
    }
}

/*-----------------SIGN-UP--------------------*/

.signup-wrapper {
    margin: 0 auto;
    max-width: 1600px;    
    width: 100%;
    height: 598px;
    background: url('../assets/img/bg_5.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.signup-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    & h2 {
        margin: 217px auto 15px;
        color: $font-light; 
        @include h2-24-bold();
        @include for-size(phonePort){
            font-size: 18px;
        }
    }
    & form {
        margin: 15px auto;
        display: flex;
        max-width: 406px;
        width: 100%;
        font-size: 0;
    }
    .input {
        margin: 0;
        padding: 14px 0 12px 23px;
        display: inline-flex;
        max-width: 340px;
        width: 100%;
        color: $font-dark;
        height: 46px;
        border: none;
        outline: none;
        @include body-14-reg(); 
    }
    .input-button {
        display: inline-flex;
        margin: 0;
        max-width: 66px;
        width: 100%;        
    }
    @include for-size(phonePort){
        width: 95%;
    }
}

/*-----------------DOWNLOAD--------------------*/

.download-wrapper {
    margin: 0 auto;
}
.download-content {    
    padding: 120px 0 180px;
    margin: 0 auto;
    max-width: 483px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @include for-size(tablet){
        padding: 100px 10px;
    }
    @include for-size(phoneLand){
        padding-left: 10px;
        padding-right: 10px;
    }
    @include for-size(phonePort){
        padding-left: 10px;
        padding-right: 10px;
    }

    & h2 {
        margin-bottom: 10px;
        color: $font-dark;
        @include h2-24-bold();
    }
    & p {
        margin: 10px auto;
        color: $font-text;
        @include body-14-reg(); 
    }
    .download-buttons {
        max-width: 406px;
        width: 100%;
        margin-top: 20px;
        display: flex; 
        justify-content: space-between;       
        height: 50px;

        .download-button {
            display: flex;            
            width: 188px;
            height: 50px;            
            background-color: $font-button;
            color: $font-light;

            @include for-size(phonePort){
                width: 135px;
            }

            & span {               
                max-width: 128px;
                width: 100%;
                display: inline-flex;
                justify-content: center;
                font-family: 'Roboto';
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 53px;
                letter-spacing: 0px;    
                @include for-size(phonePort){
                    font-size: 12px;
                }           
            }

            & button {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                max-width: 60px;
                width: 100%;
                background-color: $font-button-dark;

                @include button();
                &:hover {
                    cursor: pointer;
                    opacity: .7;            
                }
                
                & img {
                    width: 30%;
                    @include for-size(phonePort){
                        width: 45%;
                    }  
                }
                @include for-size(phonePort){
                    width: 55px;
                }   
            }
        }    
    }
}
/*-----------------DOWNLOAD--------------------*/

.footer-wrapper {
    margin: 0 auto;
    max-width: 1600px;    
    width: 100%;
    background-color: $font-bg-2;
}
.footer-content {
    padding: 60px 0 80px;
    margin: 0 auto; 
    max-width: 1280px;         
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;   

    & nav {
        display: flex; 
        justify-content: space-between;
        max-width: 236px;
        width: 100%;
        & a {
            text-decoration: none;
        }
        & span {
            color: $font-light; 
            @include for-size(phonePort){
                display: none;
            }
        }
        @include for-size(phonePort){
            flex-direction: column;
        }
    }
    & div {
        display: flex;
        padding-right: 68px;
    }
    & address {
        @include body-14-reg();
        color: $font-text-1;
    }
    @include for-size(laptop){
        padding: 60px 10px;
    }
    @include for-size(tablet){
        padding: 60px 10px;
    }
    @include for-size(phoneLand){
        padding: 40px 10px;
    }
    @include for-size(phonePort){
        padding: 40px 10px;
    }
}
